/*----- Google Font Import ----- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.row{
    margin-right: 0;
    margin-left: 0;
}

.container-fluid{
    padding-right: 0;
    padding-left: 0;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

.col-12{
    padding: 0;
    background-color: #fafafa;
}

.flashes-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    width: 100%;
    padding: 0.5rem;
}

.flashes{
    position: relative;
}

.flashes h5{
    padding: 2.5rem 4rem;
    background-color: #fafafa;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.flashes button{
    position: absolute;
    top: 0.75rem;
    right: 1.25rem;
    color: #db0007;
    font-size: 0.8rem;
    border: none;
    background-color: #fafafa;
    cursor: pointer;
    border: 2px solid #db0007;
    border-radius: 100%;
    padding: 0 0.35rem;
}

.flashes button:hover{
    border: 2px solid #db0007;
    background-color: #db0007;
    color: #fafafa;
}

/* --------------- base.html Styling ---------------*/

/* ----- Navigation Section Styling ----- */

/* ----- Navigation Logo Styling ----- */

.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    width: 100%;
    height: 10vh;
    padding: 0.5rem 0 0;
}

.nav-logo a{
    color: black;
    padding: 0.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.5s;
}

.nav-logo a:hover{
    background-color: black;
    color: #fafafa;
    text-decoration: none;
    border: 2px solid black;
}

/* ----- Navigation Styling ----- */

nav .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    width: 100%;
    height: 10vh;
}

nav.navbar.navbar-expand-md.navbar-light.bg-light{
    padding: 0;
}

/* ----- Navigation List Styling ----- */

nav .nav ul {
    text-decoration: none;
    text-align: center;
}

nav .nav li{
    display: inline-block;
    margin-top: 15px;
    padding: 0.5rem;
}

nav .nav li a{
    color: black;
    padding: 0.5rem 0.8rem;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.5s;
}

.display{
    display: none;
}

nav .nav li a:hover{
    background-color: black;
    padding: 0.5rem 0.8rem;
    color: #fafafa;
    border-radius: 5px;
}

/* ----- Navigation Contact Button Styling ----- */

nav .nav .contact{
    background-color: transparent;
    color: #009dff;
    padding: 0.5rem;
    text-decoration: none;
    border: 2px solid #009dff;
    border-radius: 5px;
    transition: 0.5s;
}

nav .nav .contact:hover{
    background-color: #009dff;
    padding: 0.5rem;
    color: #fafafa;
}

/* ----- Navigation Sign Up Button Styling ----- */

nav .nav .sign-up{
    background-color: transparent;
    color: #db0007;
    padding: 0.5rem;
    text-decoration: none;
    border: 2px solid #db0007;
    border-radius: 5px;
    transition: 0.5s;
}

nav .nav .sign-up:hover{
    background-color: #db0007;
    padding: 0.5rem;
    color: #fafafa;
}

/* ----- Navigation Log In Button Styling ----- */

nav .nav .log-in{
    background-color: transparent;
    color: #118324;
    padding: 0.5rem;
    text-decoration: none;
    border: 2px solid #118324;
    border-radius: 5px;
    transition: 0.5s;
}

nav .nav .log-in:hover{
    background-color: #118324;
    padding: 0.5rem;
    color: #fafafa;
}

.dropdown{
    display: none;
    position: relative;
}

.nav ul li:hover .dropdown{
    display: inline-block;
    position: absolute;
    background-color: #fafafa;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.25rem;
    padding-bottom: 1rem;
    top: 4.6rem;
    right: 27rem;
    z-index: 1;
}

.nav ul li:hover .dropdown ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li:hover .dropdown ul li{
    font-size: 0.75rem;
}

/* ----- Navigation Burger Menu Styling ----- */

.navbar{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-toggler{
    border: 2px solid black;
}

/* ----- Footer Section Styling ----- */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    width: 100%;
    height: 15vh;
}

/* ----- Footer Paragraph Styling ----- */

.designer p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

/* ----- Footer Social Links Styling ----- */

.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.fa-facebook-f{
    font-size: 1.2rem;
}

.social-links li{
    display: inline-block;
    list-style-type: none;
    padding: 0.5rem;
}

.social-links li a{
    height: 45px;
    width: 45px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 100%;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    padding: 0.75rem 1rem;    
    transition: 0.5s;
}

.social-links li a:hover{
    color: #fafafa;
    background-color: black;
}

/* --------------- index.html Styling ---------------*/

.sign-up-home{
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #fafafa;
    color: black;
    padding: 1rem;
}

.sign-up-home h3{
    padding: 0.25rem;
}

.sign-up-home h5{
    padding: 0.5rem;
}

.sign-up-home button{
    margin: 0.5rem;
    padding: 0.5rem 2rem;
    border: 2px solid #db0007;
    border-radius: 5px;
    color: #db0007;
    cursor: pointer;
    transition: 0.5s;
}

.sign-up-home button:hover{
    color: #fafafa;
    background-color: #db0007;
}

.sign-up-home button a{
    text-decoration: none;
    color: #db0007;
}

.sign-up-home button a:hover{
    text-decoration: none;
    color: #fafafa;
}

.log-in-home{
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    background-color: #fafafa;
    color: black;
    padding: 1rem;
}

.log-in-home h3{
    padding: 0.25rem;
}

.log-in-home h5{
    padding: 0.5rem;
}

.log-in-home button{
    margin: 0.5rem;
    padding: 0.5rem 2rem;
    border: 2px solid #118324;
    border-radius: 5px;
    color: #118324;
    cursor: pointer;
    transition: 0.5s;
}

.log-in-home button a{
    text-decoration: none;
    color: #118324;
}

.log-in-home button a:hover{
    text-decoration: none;
    color: #fafafa;
}

.log-in-home button:hover{
    color: #fafafa;
    background-color: #118324;
}

/* --------------- find_workouts.html Styling ---------------*/

/* ----- Find Workouts Section Styling ----- */

.row-color{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.workout-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 1rem;
}

.individual-card{
    border: 2px solid black;
    padding: 1rem;
}

/* --------------- create_workout.html Styling ---------------*/

/* ----- Create A Workout Plan Section Styling ----- */

.create-workout-form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    margin: 0.5rem;
}

.create-workout-form{
    display: block;
    justify-content: center;
    align-items: center;
    width: 725px;
    background-color: #fafafa;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    padding: 1rem;
}

.create-workout-form h3{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0 1.5rem;
}

.workout-input{
    display: block;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.workout-input input::placeholder,
.workout-input select::placeholder{
    color: black;
}

.workout-input select{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fafafa;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.workout-input input{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fafafa;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.workout-input textarea{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fafafa;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.exercise{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 2px solid black;
    padding: 0.5rem;
}

.exercise h4{
    text-align: center;
    padding: 0.5rem;
    padding-top: 1.5rem;
}

.exercise-input{
    font-weight: bold;
    margin: 0.5rem;
}

.exercise-input input{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fafafa;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.exercise-input input::placeholder{
    color: black;
}

.exercise-input select{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fafafa;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.exercise-options{
    font-weight: bold;
    border-top: 2px solid black;
    padding-top: 1.5rem;
    margin: 0.5rem;
}

.exercise-options select{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fafafa;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.form-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button button{
    background-color: #fafafa;
    color: black;
    width: 50%;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
    margin-top: 1.5rem;
    transition: 0.5s;
}

.form-button button:hover{
    background-color: black;
    color: #fafafa;
}

/* --------------- contact.html Styling ---------------*/

/* ----- Contact Section Styling ----- */

.contact-section{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #009dff;
    width: 100%;
    height: 65vh;
}

.contact-card{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: #fafafa;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    padding: 1rem;
}

.contact-card h1{
    text-align: center;
    padding: 2rem 0 0.5rem;
}

.contact-card input{
    border: none;
    border-bottom: 2px solid black;
    width: 75%;
    background-color: #fafafa;
    padding: 0.5rem;
    margin: 0.5rem;
}

.contact-card input::placeholder{
    color: black;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.message{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.message textarea{
    width: 80%;
    border: none;
    border-bottom: 2px solid black;
    background-color: #fafafa;
}

.message textarea::placeholder{
    color: black;
}

.contact-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-button button{
    width: 75%;
    background-color: #009dff;
    color: #fafafa;
    padding: 0.5rem;
    border: 2px solid #009dff;
    cursor: pointer;
    margin: 1rem;
    transition: 0.5s;
}

.contact-button button:hover{
    background-color: #fafafa;
    color: #009dff;
}

/* --------------- sign_up.html Styling ---------------*/

/* ----- Sign Up Section Styling ----- */

.sign-up-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #db0007;
    width: 100%;
    height: 65vh;
}

.sign-up-card{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: #fafafa;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    padding: 1rem;
}

.sign-up-card h1{
    text-align: center;
    padding: 1rem 0 0.5rem;
}

.sign-up-card input{
    border: none;
    border-bottom: 2px solid black;
    width: 60%;
    background-color: #fafafa;
    padding: 0.5rem;
    margin: 0.5rem;
}

.sign-up-card i{
    font-size: 1.25rem;
}

.sign-up-card input::placeholder{
    color: black;
}

.username{
    display: flex;
    justify-content: center;
    align-items: center;
}

.email{
    display: flex;
    justify-content: center;
    align-items: center;
}

.password{
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-password{
    display: flex;
    justify-content: center;
    align-items: center;
}

#passwords-match{
    text-align: center;
    font-size: 0.8rem;
}

.sign-up-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-button button{
    width: 65%;
    background-color: #db0007;
    color: #fafafa;
    padding: 0.5rem;
    border: 2px solid #db0007;
    cursor: pointer;
    margin: 1.5rem;
    transition: 0.5s;
}

.sign-up-button button:disabled{
    border: 2px solid #db0007;
    background-color: #fafafa;
    color: #db0007;
    cursor: default;
}

.sign-up-button button:hover{
    background-color: #fafafa;
    color: #db0007;
}

.account-already p{
    text-align: center;
    padding: 1rem;
}

.account-already span a{
    text-decoration: none;
    color: #118324;
    border: 2px solid #118324;
    border-radius: 5px;
    padding: 0.25rem;
    transition: 0.5s;
}

.account-already span a:hover{
    color: #fafafa;
    background-color: #118324;
}

/* --------------- log_in.html Styling ---------------*/

/* ----- Log In Section Styling ----- */

.log-in-section{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #118324;
}

.log-in-card{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: #fafafa;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    padding: 1rem;
}

.log-in-card h1{
    text-align: center;
    padding: 1.5rem 0 0.5rem;
}

.log-in-card input{
    border: none;
    border-bottom: 2px solid black;
    width: 60%;
    background-color: #fafafa;
    padding: 0.5rem;
    margin: 0.5rem;
}

.log-in-card i{
    font-size: 1.25rem;
}

.log-in-card input::placeholder{
    color: black;
}

.log-in-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-button button{
    width: 65%;
    background-color: #118324;
    color: #fafafa;
    padding: 0.5rem;
    border: 2px solid #118324;
    cursor: pointer;
    margin: 1.5rem;
    transition: 0.5s;
}

.log-in-button button:hover{
    background-color: #fafafa;
    color: #118324;
}

.no-account p{
    text-align: center;
    padding: 1rem;
}

.no-account span a{
    text-decoration: none;
    color: #db0007;
    border: 2px solid #db0007;
    border-radius: 5px;
    padding: 0.25rem;
    transition: 0.5s;
}

.no-account span a:hover{
    color: #fafafa;
    background-color: #db0007;
}

/* --------------- profile.html Styling ---------------*/

/* ----- Profile Section Styling ----- */

.profile-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.profile-heading h3{
    text-align: center;
    background-color: #fafafa;
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 0;
}

.profile-options{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: black;
}

.profile-options h4{
    background-color: #fafafa;
    color: black;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    border: 2px solid #fafafa;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 1.25rem;
}

.profile-options h4:hover{
    background-color: grey;
    color: #fafafa;
    text-decoration: none;
    border: 2px solid grey;
    cursor: pointer;
}

.recent-liked-plan{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.recent-liked-plan h4{
    text-align: center;
    padding: 2rem 0 1rem;
}

.recent-workout-plan{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.recent-workout-plan h4{
    text-align: center;
    padding: 2rem 0 1rem;
}

@media (max-width: 1100px) {

    .sign-up-card{
        justify-content: center;
        align-items: center;
        min-height: 400px;
        min-width: 400px;
        background-color: #fafafa;
        border: 2px solid black;
        border-radius: 10px;
        color: black;
        padding: 1rem;
    }

    .sign-up-card h1{
        text-align: center;
        font-size: 1.75rem;
        padding: 0.75rem 0 0.5rem;
    }

    .sign-up-button button{
        font-size: 0.75rem;
        padding: 0.5rem;
        margin: 1rem;
    }

    .account-already p{
        font-size: 0.75rem;
        text-align: center;
        padding: 1rem;
    }

    .account-already span a{
        font-size: 0.75rem;
        padding: 0.25rem;
        transition: 0.5s;
    }

}

@media (max-width: 992px) {

    .nav-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fafafa;
        width: 100%;
        height: 10vh;
        padding: 0.5rem 0 0;
    }
    nav .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fafafa;
        width: 100%;
        height: 10vh;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fafafa;
        width: 100%;
        height: 15vh;
    }
    .sign-up-section{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #db0007;
        width: 100%;
        height: 65vh;
    }
    
    .nav-logo a{
        font-size: 1.5rem;
    }

    nav .nav li{
        padding: 0.5rem;
        padding-bottom: 1rem;
    }

    nav .nav li a{
        padding: 0.3rem;
    }
    
    nav .nav li a:hover{
        padding: 0.3rem;
    }

    nav .nav .contact{
        padding: 0.3rem;
        font-size: 1rem;
    }

    nav .nav .contact:hover{
        padding: 0.3rem;
    }

    nav .nav .sign-up{
        padding: 0.3rem;
        font-size: 1rem;
    }

    nav .nav .sign-up:hover{
        padding: 0.3rem;
    }
        
    nav .nav .log-in{
        padding: 0.3rem;
        font-size: 1rem;
    }

    nav .nav .log-in:hover{
        padding: 0.3rem;
    }

    .sign-up-card{
        justify-content: center;
        align-items: center;
        min-height: 200px;
        min-width: 300px;
        background-color: #fafafa;
        border: 2px solid black;
        border-radius: 10px;
        color: black;
        padding: 1rem;
    }

    .sign-up-card h1{
        text-align: center;
        font-size: 2rem;
        padding: 1rem 0 0.5rem;
    }

    .sign-up-card i{
        font-size: 1rem;
    }

    .sign-up-card input::placeholder{
        font-size: 0.75rem;
    }

    .sign-up-button button{
        font-size: 0.75rem;
        padding: 0.25rem;
        margin: 1rem;
    }

    .account-already p{
        font-size: 0.75rem;
        text-align: center;
        padding: 1rem;
    }

    .account-already span a{
        font-size: 0.75rem;
        padding: 0.25rem;
        transition: 0.5s;
    }

    /* ----- Footer Section Styling ----- */

    /* ----- Footer Paragraph Styling ----- */

    .designer p{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        padding-top: 0.5rem;
    }

    /* ----- Footer Social Links Styling ----- */

    .social-links{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0.5rem;
    }

    .fa-facebook-f{
        font-size: 1.2rem;
    }

    .social-links li{
        display: inline-block;
        list-style-type: none;
        padding-bottom: 1rem;
    }

    .social-links li a{
        height: 45px;
        width: 45px;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 100%;
        font-size: 1rem;
        color: black;
        text-decoration: none;
        padding: 0.75rem 1rem;    
        transition: 0.5s;
    }

    .social-links li a:hover{
        color: #fafafa;
        background-color: black;
    }

}

@media (max-width: 768px) {

    .nav-logo{
        height: 10vh;
        padding: 0;
    }

    .nav-logo a{
        font-size: 2rem;
    }

    nav .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fafafa;
        height: 100%;
        width: 100%;
        position: fixed;
        overflow: hidden;
        z-index: 1;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 25%;
        width: 100%;
    }

    nav.navbar.navbar-expand-md.navbar-light.bg-light::after{
        content: '';
        background-color: #fafafa;
        height: 1vh;
        width: 100%;
    }

    /* ----- Footer Section Styling ----- */

    footer{
        width: 100%;
        height: 14vh;
    }

    /* ----- Footer Paragraph Styling ----- */

    .designer p{
        text-align: center;
        font-size: 0.75rem;
        padding: 1rem 2rem 0;
    }

    /* ----- Footer Social Links Styling ----- */

    .fa-facebook-f{
        font-size: 1.2rem;
    }

    .social-links li{
        display: inline-block;
        list-style-type: none;
        padding: 0.5rem;
        padding-bottom: 1rem;
    }

    .social-links li a{
        font-size: 1rem;
        padding: 0.5rem 0.75rem;    
    }

    .sign-up-card{
        padding: 3rem 1rem 1rem;
    }

    .sign-up-card h1{
        text-align: center;
        font-size: 2rem;
        padding: 1rem 0 0.5rem;
    }

    .sign-up-card input{
        padding: 0.25rem;
    }

    .sign-up-card i{
        font-size: 1rem;
    }

    .sign-up-card input::placeholder{
        font-size: 0.75rem;
    }

    .sign-up-button button{
        font-size: 0.75rem;
        padding: 0.25rem;
        margin: 1rem;
    }

    .account-already p{
        font-size: 0.75rem;
        text-align: center;
        padding: 1rem;
    }

    .account-already span a{
        font-size: 0.75rem;
        padding: 0.25rem;
        transition: 0.5s;
    }

}

@media (max-width: 576px) {

    .nav-logo{
        height: 10vh;
        padding: 0;
    }

    .nav-logo a{
        font-size: 1.5rem;
    }

    nav .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fafafa;
        height: 100%;
        width: 100%;
        position: fixed;
        overflow: hidden;
        z-index: 1;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 25%;
        width: 100%;
    }

    nav.navbar.navbar-expand-md.navbar-light.bg-light::after{
        content: '';
        background-color: #fafafa;
        height: 1vh;
        width: 100%;
    }

    /* ----- Footer Section Styling ----- */

    footer{
        width: 100%;
        height: 13vh;
    }

    /* ----- Footer Paragraph Styling ----- */

    .designer p{
        text-align: center;
        font-size: 0.6rem;
        padding: 0.5rem 0 0 0;
    }

    /* ----- Footer Social Links Styling ----- */

    .fa-facebook-f{
        font-size: 0.75rem;
    }

    .social-links li{
        display: inline-block;
        list-style-type: none;
        padding: 0.25rem;
        padding-bottom: 1rem;
    }

    .social-links li a{
        font-size: 0.75rem;
        padding: 0.3rem 0.5rem;    
    }

    .sign-up-card{
        min-height: 275px;
        min-width: 275px;
        padding: 1.5rem 1rem 1rem;
    }

    .sign-up-card h1{
        text-align: center;
        font-size: 1.5rem;
        padding: 0.5rem 0 0.5rem;
    }

    .sign-up-card input{
        padding: 0.25rem;
    }

    .sign-up-card i{
        font-size: 1rem;
    }

    .sign-up-card input::placeholder{
        font-size: 0.75rem;
    }

    .sign-up-button button{
        font-size: 0.75rem;
        padding: 0.25rem;
        margin: 1rem;
    }

    .account-already p{
        font-size: 0.75rem;
        text-align: center;
        padding: 1rem;
    }

    .account-already span a{
        font-size: 0.75rem;
        padding: 0.25rem;
        transition: 0.5s;
    }

}