{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="row row-color">

            <div class="col-12">

                <form class="create-workout-form-section" method="POST" action="{{ url_for('create_workout') }}">

                    <div class="create-workout-form">

                        <h3>Create A Workout Plan</h3>

                        <div class="form-row">
                     
                            <div class="workout-input">

                                <label for="workout_category">Choose Muscle Group:</label><br>
                                <select name="workout_category" id="workout_category" required>
                                    <option value="">Select Your Muscle Group</option>
                                    {% for category in workout_categories %}
                                        <option value="{{ category.workout_category }}">{{ category.workout_category }}</option>
                                    {% endfor %}
                                </select>

                            </div>

                            <div class="workout-input">

                                <label for="workout_difficulty">Choose Workout Difficulty:</label><br>
                                <select name="workout_difficulty" id="workout_difficulty" required>
                                    <option value="">Select Your Workout Difficulty</option>
                                    {% for difficulty in workout_difficulties %}
                                        <option value="{{ difficulty.workout_difficulty }}">{{ difficulty.workout_difficulty }}</option>
                                    {% endfor %}
                                </select>

                            </div>

                            <div class="workout-input">

                                <label for="workout_name">Workout Name:</label><br>
                                <input id="workout_name" name="workout_name" type="text" 
                                minlength="5" maxlength="35" placeholder="Workout Name" required>

                            </div>

                            <div class="workout-input">

                                <label for="workout_description">Workout Description:</label><br>
                                <textarea name="workout_description" id="workout_description" cols="30" rows="5"
                                minlength="5" maxlength="150" placeholder="Workout Description" required></textarea>

                            </div>
                            
                            <div class="exercise">

                                <h4>Exercise 1:</h4>

                                <div class="workout-input">

                                    <label for="exercise_name_1">Exerise Name:</label><br>
                                    <input id="exercise_name_1" name="exercise_name_1" type="text" 
                                    minlength="3" maxlength="30" placeholder="Exercise Name" required>

                                </div>

                                <div class="container-fluid">

                                    <div class="row">

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="number_of_sets_1">Number Of Sets:</label>
                                                <input id="number_of_sets_1" name="number_of_sets_1" type="number" 
                                                min="3" max="10" placeholder="Number Of Sets" required>

                                            </div>

                                        </div>

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="number_of_reps_1">Number Of Reps:</label>
                                                <input id="number_of_reps_1" name="number_of_reps_1" type="number" 
                                                min="1" max="20" placeholder="Number Of Reps" required>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="container-fluid">

                                    <div class="row">

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <div>

                                                    <label for="rest_time_1">Rest Time:</label>
                                                    <select name="rest_time_1" id="rest_time_1">
                                                        <option>15 Secs</option>
                                                        <option>30 Secs</option>
                                                        <option>45 Secs</option>
                                                        <option>60 Secs</option>
                                                        <option>75 Secs</option>
                                                        <option>90 Secs</option>
                                                        <option>105 Secs</option>
                                                        <option>120 Secs</option>
                                                    </select>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="weight_used_1">Weight Used(kg):</label>
                                                <input id="weight_used_1" name="weight_used_1" type="number" 
                                                min="3" max="50" placeholder="Weight Used" required>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        
                            <div class="exercise">

                                <h4>Exercise 2:</h4>

                                <div class="workout-input">

                                    <label for="exercise_name_2">Exerise Name:</label><br>
                                    <input id="exercise_name_2" name="exercise_name_2" type="text" 
                                    minlength="3" maxlength="30" placeholder="Exercise Name" required>

                                </div>

                                <div class="container-fluid">

                                    <div class="row">

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="number_of_sets_2">Number Of Sets:</label>
                                                <input id="number_of_sets_2" name="number_of_sets_2" type="number" 
                                                min="3" max="10" placeholder="Number Of Sets" required>

                                            </div>

                                        </div>

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="number_of_reps_2">Number Of Reps:</label>
                                                <input id="number_of_reps_2" name="number_of_reps_2" type="number" 
                                                min="1" max="20" placeholder="Number Of Reps" required>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="container-fluid">

                                    <div class="row">

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <div>

                                                    <label for="rest_time_2">Rest Time:</label>
                                                    <select name="rest_time_2" id="rest_time_2">
                                                        <option>15 Secs</option>
                                                        <option>30 Secs</option>
                                                        <option>45 Secs</option>
                                                        <option>60 Secs</option>
                                                        <option>75 Secs</option>
                                                        <option>90 Secs</option>
                                                        <option>105 Secs</option>
                                                        <option>120 Secs</option>
                                                    </select>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="weight_used_2">Weight Used(kg):</label>
                                                <input id="weight_used_2" name="weight_used_2" type="number" 
                                                min="3" max="50" placeholder="Weight Used" required>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="exercise">

                                <h4>Exercise 3:</h4>

                                <div class="workout-input">

                                    <label for="exercise_name_3">Exerise Name:</label><br>
                                    <input id="exercise_name_3" name="exercise_name_3" type="text" 
                                    minlength="3" maxlength="30" placeholder="Exercise Name" required>

                                </div>

                                <div class="container-fluid">

                                    <div class="row">

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="number_of_sets_3">Number Of Sets:</label>
                                                <input id="number_of_sets_3" name="number_of_sets_3" type="number" 
                                                min="3" max="10" placeholder="Number Of Sets" required>

                                            </div>

                                        </div>

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="number_of_reps_3">Number Of Reps:</label>
                                                <input id="number_of_reps_3" name="number_of_reps_3" type="number" 
                                                min="1" max="20" placeholder="Number Of Reps" required>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="container-fluid">

                                    <div class="row">

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <div>

                                                    <label for="rest_time_3">Rest Time:</label>
                                                    <select name="rest_time_3" id="rest_time_3">
                                                        <option>15 Secs</option>
                                                        <option>30 Secs</option>
                                                        <option>45 Secs</option>
                                                        <option>60 Secs</option>
                                                        <option>75 Secs</option>
                                                        <option>90 Secs</option>
                                                        <option>105 Secs</option>
                                                        <option>120 Secs</option>
                                                    </select>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="weight_used_3">Weight Used(kg):</label>
                                                <input id="weight_used_3" name="weight_used_3" type="number" 
                                                min="3" max="50" placeholder="Weight Used" required>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>   

                            <div class="exercise">

                                <h4>Exercise 4:</h4>

                                <div class="workout-input">

                                    <label for="exercise_name_4">Exerise Name:</label><br>
                                    <input id="exercise_name_4" name="exercise_name_4" type="text" 
                                    minlength="3" maxlength="30" placeholder="Exercise Name" required>

                                </div>

                                <div class="container-fluid">

                                    <div class="row">

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="number_of_sets_4">Number Of Sets:</label>
                                                <input id="number_of_sets_4" name="number_of_sets_4" type="number" 
                                                min="3" max="10" placeholder="Number Of Sets" required>

                                            </div>

                                        </div>

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="number_of_reps_4">Number Of Reps:</label>
                                                <input id="number_of_reps_4" name="number_of_reps_4" type="number" 
                                                min="1" max="20" placeholder="Number Of Reps" required>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="container-fluid">

                                    <div class="row">

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <div>

                                                    <label for="rest_time_4">Rest Time:</label>
                                                    <select name="rest_time_4" id="rest_time_4" required>
                                                        <option>15 Secs</option>
                                                        <option>30 Secs</option>
                                                        <option>45 Secs</option>
                                                        <option>60 Secs</option>
                                                        <option>75 Secs</option>
                                                        <option>90 Secs</option>
                                                        <option>105 Secs</option>
                                                        <option>120 Secs</option>
                                                    </select>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="weight_used_4">Weight Used(kg):</label>
                                                <input id="weight_used_4" name="weight_used_4" type="number" 
                                                min="3" max="50" placeholder="Weight Used" required>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>   

                            <div class="exercise">

                                <h4>Exercise 5:</h4>

                                <div class="workout-input">

                                    <label for="exercise_name_5">Exerise Name:</label><br>
                                    <input id="exercise_name_5" name="exercise_name_5" type="text" 
                                    minlength="3" maxlength="30" placeholder="Exercise Name" required>

                                </div>

                                <div class="container-fluid">

                                    <div class="row">

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="number_of_sets_5">Number Of Sets:</label>
                                                <input id="number_of_sets_5" name="number_of_sets_5" type="number" 
                                                min="3" max="10" placeholder="Number Of Sets" required>

                                            </div>

                                        </div>

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="number_of_reps_5">Number Of Reps:</label>
                                                <input id="number_of_reps_5" name="number_of_reps_5" type="number" 
                                                min="1" max="20" placeholder="Number Of Reps" required>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="container-fluid">

                                    <div class="row">

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <div>

                                                    <label for="rest_time_5">Rest Time:</label>
                                                    <select name="rest_time_5" id="rest_time_5" required>
                                                        <option>15 Secs</option>
                                                        <option>30 Secs</option>
                                                        <option>45 Secs</option>
                                                        <option>60 Secs</option>
                                                        <option>75 Secs</option>
                                                        <option>90 Secs</option>
                                                        <option>105 Secs</option>
                                                        <option>120 Secs</option>
                                                    </select>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="weight_used_5">Weight Used(kg):</label>
                                                <input id="weight_used_5" name="weight_used_5" type="number" 
                                                min="3" max="50" placeholder="Weight Used" required>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="exercise">

                                <h4>Exercise 6:</h4>

                                <div class="workout-input">

                                    <label for="exercise_name_6">Exerise Name:</label><br>
                                    <input id="exercise_name_6" name="exercise_name_6" type="text" 
                                    minlength="3" maxlength="30" placeholder="Exercise Name" required>

                                </div>

                                <div class="container-fluid">

                                    <div class="row">

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="number_of_sets_6">Number Of Sets:</label>
                                                <input id="number_of_sets_6" name="number_of_sets_6" type="number" 
                                                min="3" max="10" placeholder="Number Of Sets" required>

                                            </div>

                                        </div>

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="number_of_reps_6">Number Of Reps:</label>
                                                <input id="number_of_reps_6" name="number_of_reps_6" type="number" 
                                                min="1" max="20" placeholder="Number Of Reps" required>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="container-fluid">

                                    <div class="row">

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <div>

                                                    <label for="rest_time_6">Rest Time:</label>
                                                    <select name="rest_time_6" id="rest_time_6" required>
                                                        <option>15 Secs</option>
                                                        <option>30 Secs</option>
                                                        <option>45 Secs</option>
                                                        <option>60 Secs</option>
                                                        <option>75 Secs</option>
                                                        <option>90 Secs</option>
                                                        <option>105 Secs</option>
                                                        <option>120 Secs</option>
                                                    </select>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-6 col-12">

                                            <div class="exercise-input">

                                                <label for="weight_used_6">Weight Used(kg):</label>
                                                <input id="weight_used_6" name="weight_used_6" type="number" 
                                                min="3" max="50" placeholder="Weight Used" required>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-md-6 col-12">

                                        <div class="exercise-options">

                                            <div>

                                                <label for="total_exercise_amount">Total Amount Of Exercises:</label>
                                                <select name="total_exercise_amount" id="total_exercise_amount" required>
                                                    <option>6</option>
                                                </select>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-6 col-12">

                                        <div class="exercise-options">

                                            <label for="total_workout_time">Total Workout Time: (Mins)</label>
                                            <input id="total_workout_time" name="total_workout_time" type="number" 
                                                min="15" max="120" placeholder="Total Workout Time" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="form-button">

                                <a href="{{ url_for('find_workouts') }}">Cancel</a>

                                <button type="submit">Create Workout Plan</button>

                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

{% endblock %}
