{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <form class="create-workout-form-section" method="POST" action="{{ url_for('create_workout') }}">

                    <div class="create-workout-form">

                        <h3>Create A Workout Plan</h3>

                        <div class="workout-input">

                            <label for="workout_category">Choose Muscle Group:</label><br>
                            <select name="workout_category" id="workout_category" required>
                                {% for category in workout_categories %}
                                    <option value="{{ category.workout_category }}">{{ category.workout_category }}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="workout-input">

                            <label for="workout_difficulty">Choose Workout Difficulty:</label><br>
                            <select name="workout_difficulty" id="workout_difficulty" required>
                                {% for difficulty in workout_difficulties %}
                                    <option value="{{ difficulty.workout_difficulty }}">{{ difficulty.workout_difficulty }}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="workout-input">

                            <label for="workout_name">Workout Name:</label><br>
                            <input id="workout_name" name="workout_name" type="text" 
                            minlength="5" maxlength="35" placeholder="workout name" required>

                        </div>

                        <div class="workout-input">

                            <label for="workout_description">Workout Description:</label><br>
                            <textarea name="workout_description" id="workout_description" cols="30" rows="5"
                            minlength="5" maxlength="150" placeholder="workout description" required></textarea>

                        </div>

                        
                        <div class="exercise">

                            <h4>Exercise:</h4>

                            <div class="workout-input">

                                <label for="exercise_name_1">Exerise Name:</label><br>
                                <input id="exercise_name_1" name="exercise_name_1" type="text" 
                                minlength="5" maxlength="35" placeholder="exercise name" required>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_sets_1">Number Of Sets:</label>
                                            <input id="number_of_sets_1" name="number_of_sets_1" type="number" 
                                            min="3" max="10" placeholder="number of sets" required>

                                        </div>

                                    </div>

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_reps_1">Number Of Reps:</label>
                                            <input id="number_of_reps_1" name="number_of_reps_1" type="number" 
                                            min="1" max="20" placeholder="number of reps" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <div>

                                                <label for="rest_time_1">Rest Time:</label>
                                                <select name="rest_time_1" id="rest_time_1">
                                                    <option value="15 Secs">15 Secs</option>
                                                    <option value="30 Secs">30 Secs</option>
                                                    <option value="45 Secs">45 Secs</option>
                                                    <option value="60 Secs">60 Secs</option>
                                                    <option value="75 Secs">75 Secs</option>
                                                    <option value="90 Secs">90 Secs</option>
                                                    <option value="105 Secs">105 Secs</option>
                                                    <option value="120 Secs">120 Secs</option>
                                                </select>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="div col-6">

                                        <div class="exercise-input">

                                            <label for="weight_used_1">Weight Used(kg):</label>
                                            <input id="weight_used_1" name="weight_used_1" type="number" 
                                            min="3" max="50" placeholder="weight used" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                        
                        <div class="exercise">

                            <h4>Exercise:</h4>

                            <div class="workout-input">

                                <label for="exercise_name_2">Exerise Name:</label><br>
                                <input id="exercise_name_2" name="exercise_name_2" type="text" 
                                minlength="5" maxlength="35" placeholder="exercise name" required>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_sets_2">Number Of Sets:</label>
                                            <input id="number_of_sets_2" name="number_of_sets_2" type="number" 
                                            min="3" max="10" placeholder="number of sets" required>

                                        </div>

                                    </div>

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_reps_2">Number Of Reps:</label>
                                            <input id="number_of_reps_2" name="number_of_reps_2" type="number" 
                                            min="1" max="20" placeholder="number of reps" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <div>

                                                <label for="rest_time_2">Rest Time:</label>
                                                <select name="rest_time_2" id="rest_time_2">
                                                    <option value="15 Secs">15 Secs</option>
                                                    <option value="30 Secs">30 Secs</option>
                                                    <option value="45 Secs">45 Secs</option>
                                                    <option value="60 Secs">60 Secs</option>
                                                    <option value="75 Secs">75 Secs</option>
                                                    <option value="90 Secs">90 Secs</option>
                                                    <option value="105 Secs">105 Secs</option>
                                                    <option value="120 Secs">120 Secs</option>
                                                </select>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="div col-6">

                                        <div class="exercise-input">

                                            <label for="weight_used_2">Weight Used(kg):</label>
                                            <input id="weight_used_2" name="weight_used_2" type="number" 
                                            min="3" max="50" placeholder="weight used" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>   

                        <div class="exercise">

                            <h4>Exercise:</h4>

                            <div class="workout-input">

                                <label for="exercise_name_3">Exerise Name:</label><br>
                                <input id="exercise_name_3" name="exercise_name_3" type="text" 
                                minlength="5" maxlength="35" placeholder="exercise name" required>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_sets_3">Number Of Sets:</label>
                                            <input id="number_of_sets_3" name="number_of_sets_3" type="number" 
                                            min="3" max="10" placeholder="number of sets" required>

                                        </div>

                                    </div>

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_reps_3">Number Of Reps:</label>
                                            <input id="number_of_reps_3" name="number_of_reps_3" type="number" 
                                            min="1" max="20" placeholder="number of reps" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <div>

                                                <label for="rest_time_3">Rest Time:</label>
                                                <select name="rest_time_3" id="rest_time_3">
                                                    <option value="15 Secs">15 Secs</option>
                                                    <option value="30 Secs">30 Secs</option>
                                                    <option value="45 Secs">45 Secs</option>
                                                    <option value="60 Secs">60 Secs</option>
                                                    <option value="75 Secs">75 Secs</option>
                                                    <option value="90 Secs">90 Secs</option>
                                                    <option value="105 Secs">105 Secs</option>
                                                    <option value="120 Secs">120 Secs</option>
                                                </select>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="div col-6">

                                        <div class="exercise-input">

                                            <label for="weight_used_3">Weight Used(kg):</label>
                                            <input id="weight_used_3" name="weight_used_3" type="number" 
                                            min="3" max="50" placeholder="weight used" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>   

                        <div class="exercise">

                            <h4>Exercise:</h4>

                            <div class="workout-input">

                                <label for="exercise_name_4">Exerise Name:</label><br>
                                <input id="exercise_name_4" name="exercise_name_4" type="text" 
                                minlength="5" maxlength="35" placeholder="exercise name" required>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_sets_4">Number Of Sets:</label>
                                            <input id="number_of_sets_4" name="number_of_sets_4" type="number" 
                                            min="3" max="10" placeholder="number of sets" required>

                                        </div>

                                    </div>

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_reps_4">Number Of Reps:</label>
                                            <input id="number_of_reps_4" name="number_of_reps_4" type="number" 
                                            min="1" max="20" placeholder="number of reps" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <div>

                                                <label for="rest_time_4">Rest Time:</label>
                                                <select name="rest_time_4" id="rest_time_4">
                                                    <option value="15 Secs">15 Secs</option>
                                                    <option value="30 Secs">30 Secs</option>
                                                    <option value="45 Secs">45 Secs</option>
                                                    <option value="60 Secs">60 Secs</option>
                                                    <option value="75 Secs">75 Secs</option>
                                                    <option value="90 Secs">90 Secs</option>
                                                    <option value="105 Secs">105 Secs</option>
                                                    <option value="120 Secs">120 Secs</option>
                                                </select>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="div col-6">

                                        <div class="exercise-input">

                                            <label for="weight_used_4">Weight Used(kg):</label>
                                            <input id="weight_used_4" name="weight_used_4" type="number" 
                                            min="3" max="50" placeholder="weight used" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>   

                        <div class="exercise">

                            <h4>Exercise:</h4>

                            <div class="workout-input">

                                <label for="exercise_name_5">Exerise Name:</label><br>
                                <input id="exercise_name_5" name="exercise_name_5" type="text" 
                                minlength="5" maxlength="35" placeholder="exercise name" required>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_sets_5">Number Of Sets:</label>
                                            <input id="number_of_sets_5" name="number_of_sets_5" type="number" 
                                            min="3" max="10" placeholder="number of sets" required>

                                        </div>

                                    </div>

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_reps_5">Number Of Reps:</label>
                                            <input id="number_of_reps_5" name="number_of_reps_5" type="number" 
                                            min="1" max="20" placeholder="number of reps" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <div>

                                                <label for="rest_time_5">Rest Time:</label>
                                                <select name="rest_time_5" id="rest_time_5">
                                                    <option value="15 Secs">15 Secs</option>
                                                    <option value="30 Secs">30 Secs</option>
                                                    <option value="45 Secs">45 Secs</option>
                                                    <option value="60 Secs">60 Secs</option>
                                                    <option value="75 Secs">75 Secs</option>
                                                    <option value="90 Secs">90 Secs</option>
                                                    <option value="105 Secs">105 Secs</option>
                                                    <option value="120 Secs">120 Secs</option>
                                                </select>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="div col-6">

                                        <div class="exercise-input">

                                            <label for="weight_used_5">Weight Used(kg):</label>
                                            <input id="weight_used_5" name="weight_used_5" type="number" 
                                            min="3" max="50" placeholder="weight used" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>   

                        <div class="exercise">

                            <h4>Exercise:</h4>

                            <div class="workout-input">

                                <label for="exercise_name_6">Exerise Name:</label><br>
                                <input id="exercise_name_6" name="exercise_name_6" type="text" 
                                minlength="5" maxlength="35" placeholder="exercise name" required>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_sets_6">Number Of Sets:</label>
                                            <input id="number_of_sets_6" name="number_of_sets_6" type="number" 
                                            min="3" max="10" placeholder="number of sets" required>

                                        </div>

                                    </div>

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_reps_6">Number Of Reps:</label>
                                            <input id="number_of_reps_6" name="number_of_reps_6" type="number" 
                                            min="1" max="20" placeholder="number of reps" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <div>

                                                <label for="rest_time_6">Rest Time:</label>
                                                <select name="rest_time_6" id="rest_time_6">
                                                    <option value="15 Secs">15 Secs</option>
                                                    <option value="30 Secs">30 Secs</option>
                                                    <option value="45 Secs">45 Secs</option>
                                                    <option value="60 Secs">60 Secs</option>
                                                    <option value="75 Secs">75 Secs</option>
                                                    <option value="90 Secs">90 Secs</option>
                                                    <option value="105 Secs">105 Secs</option>
                                                    <option value="120 Secs">120 Secs</option>
                                                </select>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="div col-6">

                                        <div class="exercise-input">

                                            <label for="weight_used_6">Weight Used(kg):</label>
                                            <input id="weight_used_6" name="weight_used_6" type="number" 
                                            min="3" max="50" placeholder="weight used" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>   

                        <div class="exercise">

                            <h4>Exercise:</h4>

                            <div class="workout-input">

                                <label for="exercise_name_7">Exerise Name:</label><br>
                                <input id="exercise_name_7" name="exercise_name_7" type="text" 
                                minlength="5" maxlength="35" placeholder="exercise name" required>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_sets_7">Number Of Sets:</label>
                                            <input id="number_of_sets_7" name="number_of_sets_7" type="number" 
                                            min="3" max="10" placeholder="number of sets" required>

                                        </div>

                                    </div>

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_reps_7">Number Of Reps:</label>
                                            <input id="number_of_reps_7" name="number_of_reps_7" type="number" 
                                            min="1" max="20" placeholder="number of reps" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <div>

                                                <label for="rest_time_7">Rest Time:</label>
                                                <select name="rest_time_7" id="rest_time_7">
                                                    <option value="15 Secs">15 Secs</option>
                                                    <option value="30 Secs">30 Secs</option>
                                                    <option value="45 Secs">45 Secs</option>
                                                    <option value="60 Secs">60 Secs</option>
                                                    <option value="75 Secs">75 Secs</option>
                                                    <option value="90 Secs">90 Secs</option>
                                                    <option value="105 Secs">105 Secs</option>
                                                    <option value="120 Secs">120 Secs</option>
                                                </select>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="div col-6">

                                        <div class="exercise-input">

                                            <label for="weight_used_7">Weight Used(kg):</label>
                                            <input id="weight_used_7" name="weight_used_7" type="number" 
                                            min="3" max="50" placeholder="weight used" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>   

                        <div class="exercise">

                            <h4>Exercise:</h4>

                            <div class="workout-input">

                                <label for="exercise_name_8">Exerise Name:</label><br>
                                <input id="exercise_name_8" name="exercise_name_8" type="text" 
                                minlength="5" maxlength="35" placeholder="exercise name" required>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_sets_8">Number Of Sets:</label>
                                            <input id="number_of_sets_8" name="number_of_sets_8" type="number" 
                                            min="3" max="10" placeholder="number of sets" required>

                                        </div>

                                    </div>

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_reps_8">Number Of Reps:</label>
                                            <input id="number_of_reps_8" name="number_of_reps_8" type="number" 
                                            min="1" max="20" placeholder="number of reps" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <div>

                                                <label for="rest_time_8">Rest Time:</label>
                                                <select name="rest_time_8" id="rest_time_8">
                                                    <option value="15 Secs">15 Secs</option>
                                                    <option value="30 Secs">30 Secs</option>
                                                    <option value="45 Secs">45 Secs</option>
                                                    <option value="60 Secs">60 Secs</option>
                                                    <option value="75 Secs">75 Secs</option>
                                                    <option value="90 Secs">90 Secs</option>
                                                    <option value="105 Secs">105 Secs</option>
                                                    <option value="120 Secs">120 Secs</option>
                                                </select>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="div col-6">

                                        <div class="exercise-input">

                                            <label for="weight_used_8">Weight Used(kg):</label>
                                            <input id="weight_used_8" name="weight_used_8" type="number" 
                                            min="3" max="50" placeholder="weight used" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>    

                        <div class="container-fluid">

                            <div class="row">

                                <div class="col-6">

                                    <div class="exercise-options">

                                        <div>

                                            <label for="total_exercise_amount">Total Amount Of Exercises:</label>
                                            <select name="total_exercise_amount" id="total_exercise_amount">
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-6">

                                    <div class="exercise-options">

                                        <label for="total_workout_time">Total Workout Time:</label>
                                        <select name="total_workout_time" id="total_workout_time" required> 
                                            <option value="15 Mins">15 Mins</option>
                                            <option value="30 Mins">30 Mins</option>
                                            <option value="45 Mins">45 Mins</option>
                                            <option value="60 Mins">60 Mins</option>
                                            <option value="75 Mins">75 Mins</option>
                                            <option value="90 Mins">90 Mins</option>
                                            <option value="105 Mins">105 Mins</option>
                                            <option value="120 Mins">120 Mins</option>
                                        </select>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="form-button">

                            <button type="submit">Create Workout Plan</button>

                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

{% endblock %}
