{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <h1 class="edit-account-heading">Edit Account</h1>

                <div class="change-username">

                    <h3>Change Your Username</h3>

                    <div class="change-username-input">

                        <i class="fas fa-user"></i>

                        <label for="new-username"></label>
                        <input id="new-username" name="new-username" type="text" minlength="3" maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" placeholder="update username" required>
                    
                    </div>

                <div class="change-username-options">

                    <div class="change-username-edit">

                        <a href="#">Update Username</a>

                    </div>

                    <div class="change-cancel">
    
                        <a href="#">Cancel</a>        
                    
                    </div>

                </div>                

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="change-password">

                    <h3>Change Your Password</h3>

                    <div class="change-password-input">

                        <div class="new-password">

                            <i class="fas fa-lock"></i>
                            <input id="new-password" name="new-password" type="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9$@$!%*?&.]{5,15}$" 
                                placeholder="new password" onkeyup="checkNewPasswords();" required>

                        </div>

                        <div class="new-change-password">


                        <i class="fas fa-shield-alt"></i>

                            <label for="new-confirm_password"></label>
                            <input id="new-confirm_password" name="new-confirm_password" type="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9$@$!%*?&.]{5,15}$" 
                                placeholder="confirm updated password" onkeyup="checkNewPasswords();" required>
                                
                        </div>
                    
                    </div>

                    <div class="change-password-options">

                        <div class="change-password-edit">

                            <a href="#">Update Password</a>

                        </div>

                        <div class="change-cancel">
    
                            <a href="#">Cancel</a>  
                        
                        </div>
                    
                    </div>

                </div> 

            </div>

        </div>

    </div>

    

{% endblock %}