{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <form class="create-workout-form-section" method="POST" action="{{ url_for('edit_workout', workout_plan_id=workout_plan._id) }}">

                    <div class="create-workout-form">

                        <h3>Edit A Workout Plan</h3>

                        <div class="workout-input">

                            <label for="workout_category">Choose Muscle Group:</label><br>
                            <select name="workout_category" id="workout_category" required>
                                {% for category in workout_categories %}
                                    <option value="{{ category.workout_category }}">{{ category.workout_category }}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="workout-input">

                            <label for="workout_difficulty">Choose Workout Difficulty:</label><br>
                            <select name="workout_difficulty" id="workout_difficulty" required>
                                {% for difficulty in workout_difficulties %}
                                    <option value="{{ difficulty.workout_difficulty }}">{{ difficulty.workout_difficulty }}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="workout-input">

                            <label for="workout_name">Workout Name:</label><br>
                            <input id="workout_name" name="workout_name" type="text" 
                            minlength="5" maxlength="35" placeholder="workout name" required>

                        </div>

                        <div class="workout-input">

                            <label for="workout_description">Workout Description:</label><br>
                            <textarea name="workout_description" id="workout_description" cols="30" rows="5"
                            minlength="5" maxlength="150" placeholder="workout description" required></textarea>

                        </div>

                        
                        <div class="exercise">

                            <h4>Exercise 1:</h4>

                            <div class="workout-input">

                                <label for="exercise_name">Exerise Name:</label><br>
                                <input id="exercise_name" name="exercise_name" type="text" 
                                minlength="5" maxlength="35" placeholder="exercise name" required>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_sets">Number Of Sets:</label>
                                            <input id="number_of_sets" name="number_of_sets" type="number" 
                                            min="3" max="10" placeholder="number of sets" required>

                                        </div>

                                    </div>

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_reps">Number Of Reps:</label>
                                            <input id="number_of_reps" name="number_of_reps" type="number" 
                                            min="1" max="20" placeholder="number of reps" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <div>

                                                <label for="rest_time">Rest Time:</label>
                                                <select name="rest_time" id="rest_time">
                                                    <option value="15 Secs">15 Secs</option>
                                                    <option value="30 Secs">30 Secs</option>
                                                    <option value="45 Secs">45 Secs</option>
                                                    <option value="60 Secs">60 Secs</option>
                                                    <option value="75 Secs">75 Secs</option>
                                                    <option value="90 Secs">90 Secs</option>
                                                    <option value="105 Secs">105 Secs</option>
                                                    <option value="120 Secs">120 Secs</option>
                                                </select>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="div col-6">

                                        <div class="exercise-input">

                                            <label for="weight_used">Weight Used(kg):</label>
                                            <input id="weight_used" name="weight_used" type="number" 
                                            min="3" max="50" placeholder="weight used" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="dropset">Dropset:</label>
                                            <select name="dropset" id="dropset">
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                            </select>

                                        </div>

                                    </div>

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="superset">Superset:</label>
                                            <select name="superset" id="superset">
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                            </select>

                                        </div>
                                    
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="exercise">

                            <h4>Exercise 2:</h4>

                            <div class="workout-input">

                                <label for="exercise_name">Exerise Name:</label><br>
                                <input id="exercise_name" name="exercise_name" type="text" 
                                minlength="5" maxlength="35" placeholder="exercise name" required>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_sets">Number Of Sets:</label>
                                            <input id="number_of_sets" name="number_of_sets" type="number" 
                                            min="3" max="10" placeholder="number of sets" required>

                                        </div>

                                    </div>

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_reps">Number Of Reps:</label>
                                            <input id="number_of_reps" name="number_of_reps" type="number" 
                                            min="1" max="20" placeholder="number of reps" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <div>

                                                <label for="rest_time">Rest Time:</label>
                                                <select name="rest_time" id="rest_time">
                                                    <option value="15 Secs">15 Secs</option>
                                                    <option value="30 Secs">30 Secs</option>
                                                    <option value="45 Secs">45 Secs</option>
                                                    <option value="60 Secs">60 Secs</option>
                                                    <option value="75 Secs">75 Secs</option>
                                                    <option value="90 Secs">90 Secs</option>
                                                    <option value="105 Secs">105 Secs</option>
                                                    <option value="120 Secs">120 Secs</option>
                                                </select>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="div col-6">

                                        <div class="exercise-input">

                                            <label for="weight_used">Weight Used(kg):</label>
                                            <input id="weight_used" name="weight_used" type="number" 
                                            min="3" max="50" placeholder="weight used" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="dropset">Dropset:</label>
                                            <select name="dropset" id="dropset">
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                            </select>

                                        </div>

                                    </div>

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="superset">Superset:</label>
                                            <select name="superset" id="superset">
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                            </select>

                                        </div>
                                    
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="exercise">

                            <h4>Exercise 3:</h4>

                            <div class="workout-input">

                                <label for="exercise_name">Exerise Name:</label><br>
                                <input id="exercise_name" name="exercise_name" type="text" 
                                minlength="5" maxlength="35" placeholder="exercise name" required>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_sets">Number Of Sets:</label>
                                            <input id="number_of_sets" name="number_of_sets" type="number" 
                                            min="3" max="10" placeholder="number of sets" required>

                                        </div>

                                    </div>

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="number_of_reps">Number Of Reps:</label>
                                            <input id="number_of_reps" name="number_of_reps" type="number" 
                                            min="1" max="20" placeholder="number of reps" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <div>

                                                <label for="rest_time">Rest Time:</label>
                                                <select name="rest_time" id="rest_time">
                                                    <option value="15 Secs">15 Secs</option>
                                                    <option value="30 Secs">30 Secs</option>
                                                    <option value="45 Secs">45 Secs</option>
                                                    <option value="60 Secs">60 Secs</option>
                                                    <option value="75 Secs">75 Secs</option>
                                                    <option value="90 Secs">90 Secs</option>
                                                    <option value="105 Secs">105 Secs</option>
                                                    <option value="120 Secs">120 Secs</option>
                                                </select>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="div col-6">

                                        <div class="exercise-input">

                                            <label for="weight_used">Weight Used(kg):</label>
                                            <input id="weight_used" name="weight_used" type="number" 
                                            min="3" max="50" placeholder="weight used" required>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="dropset">Dropset:</label>
                                            <select name="dropset" id="dropset">
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                            </select>

                                        </div>

                                    </div>

                                    <div class="col-6">

                                        <div class="exercise-input">

                                            <label for="superset">Superset:</label>
                                            <select name="superset" id="superset">
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                            </select>

                                        </div>
                                    
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="container-fluid">

                            <div class="row">

                                <div class="col-6">

                                    <div class="exercise-options">

                                        <div>

                                            <label for="total_exercise_amount">Total Amount Of Exercises:</label>
                                            <select name="total_exercise_amount" id="total_exercise_amount">
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-6">

                                    <div class="exercise-options">

                                        <label for="total_workout_time">Total Workout Time:</label>
                                        <select name="total_workout_time" id="total_workout_time" required> 
                                            <option value="15 Mins">15 Mins</option>
                                            <option value="30 Mins">30 Mins</option>
                                            <option value="45 Mins">45 Mins</option>
                                            <option value="60 Mins">60 Mins</option>
                                            <option value="75 Mins">75 Mins</option>
                                            <option value="90 Mins">90 Mins</option>
                                            <option value="105 Mins">105 Mins</option>
                                            <option value="120 Mins">120 Mins</option>
                                        </select>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="form-button">

                            <button>Edit Workout Plan</button>

                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

{% endblock %}
