{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="row row-color">

            <div class="col-12">

                <h1 class="edit-account-heading">Edit Account</h1>

                <form class="change-username" method="POST" action="{{ url_for('edit_account', username=session['member']) }}">

                    <h3>Change Your Username</h3>

                    <div class="change-username-input">

                        <i class="fas fa-user"></i>

                        <label for="username"></label>
                        <input id="username" name="username" type="text" minlength="3" maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" placeholder="Update Username" required>
                    
                    </div>

                    <div class="change-username-options">

                        <div class="change-username-edit">

                            <button type="submit">Update Username</button>

                        </div>

                        <div class="change-cancel">
        
                            <a href="{{ url_for('profile', username=session['member']) }}">Cancel</a>        
                        
                        </div>

                    </div>
                    
                </form>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row row-color">

            <div class="col-12">

                <div class="change-password">

                    <h3>Change Your Password</h3>

                    <form class="change-password-input" method="POST" action="{{ url_for('update_password', username=session['member']) }}">

                        <div class="new-password">

                            <i class="fas fa-lock"></i>
                            <label for="password"></label>
                            <input id="password" class="new_password" name="password" type="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9$@$!%*?&.]{5,15}$" 
                                placeholder="Update Password" onkeyup="checkNewPasswords();" required>

                        </div>

                        <div class="new-change-password">

                            <i class="fas fa-shield-alt"></i>

                            <label for="confirm_password"></label>
                            <input id="confirm_password" class="new_confirm_password" name="confirm_password" type="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9$@$!%*?&.]{5,15}$" 
                                placeholder="Confirm Updated Password" onkeyup="checkNewPasswords();" required>

                        </div>

                        <div id="new-passwords-match"></div>
                    
                        <div class="change-password-options">

                            <div class="change-password-edit">

                                <button type="submit" id="new-submit" disabled>Update Password</button>

                            </div>

                            <div class="change-cancel">
        
                                <a href="{{ url_for('profile', username=session['member']) }}">Cancel</a>  
                            
                            </div>
                        
                        </div>

                    </form>

                </div> 

            </div>

        </div>

    </div>

    

{% endblock %}