{% extends "base.html" %}
{% block content %}

    {% for workout_plan in workout_plans %}
        {{ workout_plan.category_name }}<br>
        {{ workout_plan.workout_name }}<br>
        {{ workout_plan.workout_description }}<br>
        {{ workout_plan.exercise_name }}<br>
        {{ workout_plan.number_of_sets }}<br>
        {{ workout_plan.number_of_reps }}<br>
        {{ workout_plan.rest_time }}<br>
        {{ workout_plan.weight_used }}<br>
        {{ workout_plan.superset }}<br>
        {{ workout_plan.dropset }}<br>
    {% endfor %}

    <div class="row">

        <div class="container-fluid">

            <div class="row-1 ">

                <div class="workout-card col-4">

                    <div class="individual-card">

                        <img src="" alt="">

                        <h5>Beginner Chest Workout</h5>

                        <h6>Muscle Group: Chest</h6>

                        <p>Total Sets: 4</p>

                        <p>Total Reps: 8</p>

                        <p>Exercise Amount: 6</p>

                        <p>Workout Time: 1 Hour</p>

                    </div>

                </div>

                <div class="workout-card col-4">

                    <div class="individual-card">

                        <img src="" alt="">

                        <h5>Beginner Chest Workout</h5>

                        <h6>Muscle Group: Chest</h6>

                        <p>Total Sets: 4</p>

                        <p>Total Reps: 8</p>

                        <p>Exercise Amount: 6</p>

                        <p>Workout Time: 1 Hour</p>

                    </div>

                </div>

                <div class="workout-card col-4">

                    <div class="individual-card">

                        <img src="" alt="">

                        <h5>Beginner Chest Workout</h5>

                        <h6>Muscle Group: Chest</h6>

                        <p>Total Sets: 4</p>

                        <p>Total Reps: 8</p>

                        <p>Exercise Amount: 6</p>

                        <p>Workout Time: 1 Hour</p>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="container-fluid">

            <div class="row-1">

                <div class="workout-card col-4">

                    <div class="individual-card">

                        <img src="" alt="">

                        <h5>Beginner Chest Workout</h5>

                        <h6>Muscle Group: Chest</h6>

                        <p>Total Sets: 4</p>

                        <p>Total Reps: 8</p>

                        <p>Exercise Amount: 6</p>

                        <p>Workout Time: 1 Hour</p>

                    </div>

                </div>

                <div class="workout-card col-4">

                    <div class="individual-card">

                        <img src="" alt="">

                        <h5>Beginner Chest Workout</h5>

                        <h6>Muscle Group: Chest</h6>

                        <p>Total Sets: 4</p>

                        <p>Total Reps: 8</p>

                        <p>Exercise Amount: 6</p>

                        <p>Workout Time: 1 Hour</p>

                    </div>

                </div>

                <div class="workout-card col-4">

                    <div class="individual-card">

                        <img src="" alt="">

                        <h5>Beginner Chest Workout</h5>

                        <h6>Muscle Group: Chest</h6>

                        <p>Total Sets: 4</p>

                        <p>Total Reps: 8</p>

                        <p>Exercise Amount: 6</p>

                        <p>Workout Time: 1 Hour</p>

                    </div>

                </div>
            
            </div>

        </div>

    </div>

    <div class="row">

        <div class="container-fluid">

            <div class="row-1">

                <div class="workout-card col-4">

                    <div class="individual-card">

                        <img src="" alt="">

                        <h5>Beginner Chest Workout</h5>

                        <h6>Muscle Group: Chest</h6>

                        <p>Total Sets: 4</p>

                        <p>Total Reps: 8</p>

                        <p>Exercise Amount: 6</p>

                        <p>Workout Time: 1 Hour</p>

                    </div>

                </div>

                <div class="workout-card col-4">

                    <div class="individual-card">

                        <img src="" alt="">

                        <h5>Beginner Chest Workout</h5>

                        <h6>Muscle Group: Chest</h6>

                        <p>Total Sets: 4</p>

                        <p>Total Reps: 8</p>

                        <p>Exercise Amount: 6</p>

                        <p>Workout Time: 1 Hour</p>

                    </div>

                </div>

                <div class="workout-card col-4">

                    <div class="individual-card">

                        <img src="" alt="">

                        <h5>Beginner Chest Workout</h5>

                        <h6>Muscle Group: Chest</h6>

                        <p>Total Sets: 4</p>

                        <p>Total Reps: 8</p>

                        <p>Exercise Amount: 6</p>

                        <p>Workout Time: 1 Hour</p>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}