{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="row row-color">

            <div class="col-12">

                <form action="{{ url_for('search') }}" method="POST">

                    <div class="search-image">

                        <div class="search-input">

                            <label for="query">Search For A Workout Plan</label>
                            <br>
                            <input type="text" id="query" name="query" placeholder="search for a workout plan" minlength="3" maxlength="15" required>
                            <br>
                            <a href="{{ url_for('find_workouts') }}">Reset</a>
                            <button type="submit">Search</button>

                        </div>                              

                    </div>

                </form>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row row-color">

            {% for workout_plan in workout_plans %}

                <div class="col-12 col-md-6 col-lg-4">

                    <div class="workout-card">

                        <div class="individual-card" id="individual-card">

                            <a class="card-link" href="{{ url_for('workout_plan', workout_plan_id=workout_plan._id) }}"><div class="card-image-section">

                                {% if workout_plan.workout_category == 'Chest' %}
                                    <div class="chest-image-section">
                                        <h5>{{ workout_plan.workout_name }}</h5>
                                    </div>
                                {% elif workout_plan.workout_category == 'Back' %}
                                    <div class="back-image-section">
                                        <h5>{{ workout_plan.workout_name }}</h5>
                                    </div>
                                {% elif workout_plan.workout_category == 'Arms' %}
                                    <div class="arms-image-section">
                                        <h5>{{ workout_plan.workout_name }}</h5>
                                    </div>
                                {% elif workout_plan.workout_category == 'Legs' %}
                                    <div class="legs-image-section">
                                        <h5>{{ workout_plan.workout_name }}</h5>
                                    </div>
                                {% else %}
                                <div class="shoulders-image-section">
                                    <h5>{{ workout_plan.workout_name }}</h5>
                                </div>
                                {% endif %}

                            </div></a>

                            <div class="card-workout-stats">

                                <p>Muscle Group: {{ workout_plan.workout_category }}</p>

                                <hr>

                                <p>Workout Difficulty: {{ workout_plan.workout_difficulty }}</p>

                                <hr>

                                <p>Total Exercise Amount: 6</p>

                                <hr>

                                <p value="{{ workout_plan.total_workout_time }}">Total Workout Time: {{ workout_plan.total_workout_time }}</p>

                                <hr>

                                <p>Created By: {{ workout_plan.created_by }}</p>

                                <hr>

                            </div>
                            
                            <div class="view-workout">

                                <a href="{{ url_for('workout_plan', workout_plan_id=workout_plan._id) }}">View Workout</a>

                            </div>

                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>

    </div>

    <div class="container-fluid">

        <div class="row row-color">

            <div class="col-12">

                {{ pagination.links }}

            </div>

        </div>

    </div>

{% endblock %}

