{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <form action="{{ url_for('search') }}" method="POST">

                    <div class="search-image">

                        <div class="row">

                            <div class="col-lg-12">

                                <div class="search-input">

                                    <label for="query">Search For A Workout Plan</label>
                                    <br>
                                    <input type="text" id="query" name="query" placeholder="search for a workout plan" minlength="3" maxlength="15" required>
                                    <br>
                                    <a href="{{ url_for('find_workouts') }}">Reset</a>
                                    <button type="submit">Search</button>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-6">

                                    <label for="workout_category"></label>
                                            <select name="workout_category" id="workout_category">
                                                <option>15 Secs</option>
                                                <option>30 Secs</option>
                                                <option>45 Secs</option>
                                                <option>60 Secs</option>
                                                <option>75 Secs</option>
                                                <option>90 Secs</option>
                                                <option>105 Secs</option>
                                                <option>120 Secs</option>
                                            </select>

                                </div>

                                <div class="col-6">


                                </div>


                            </div>

                        </div>                              

                    </div>

                </form>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row row-color">

            {% for workout_category in workout_categories %}
            {% for workout_difficulty in workout_difficulties %}
            {% for workout_plan in workout_plans %}

                <div class="col-12 col-md-6 col-lg-4">

                    <div class="workout-card">

                        <div class="individual-card" id="individual-card">

                            <div class="card-image-section">

                                {% if workout_plan.workout_category == 'Chest' %}
                                    <div class="chest-image-section">
                                        <h5>{{ workout_plan.workout_name }}</h5>
                                    </div>
                                {% elif workout_plan.workout_category == 'Back' %}
                                    <div class="back-image-section">
                                        <h5>{{ workout_plan.workout_name }}</h5>
                                    </div>
                                {% elif workout_plan.workout_category == 'Arms' %}
                                    <div class="arms-image-section">
                                        <h5>{{ workout_plan.workout_name }}</h5>
                                    </div>
                                {% elif workout_plan.workout_category == 'Legs' %}
                                    <div class="legs-image-section">
                                        <h5>{{ workout_plan.workout_name }}</h5>
                                    </div>
                                {% else %}
                                <div class="shoulders-image-section">
                                    <h5>{{ workout_plan.workout_name }}</h5>
                                </div>
                                {% endif %}

                            </div>

                            <div class="card-workout-stats">

                                <p>Muscle Group: {{ workout_plan.workout_category }}</p>

                                <hr>

                                <p>Workout Difficulty: {{ workout_plan.workout_difficulty }}</p>

                                <hr>

                                <p>Total Exercise Amount: {{ workout_plan.total_exercise_amount }}</p>

                                <hr>

                                <p>Total Workout Time: {{ workout_plan.total_workout_time }}</p>

                                <hr>

                                <p>Created By: {{ workout_plan.created_by }}</p>

                            </div> 

                            <div class="workout-options" id="workout-options">

                                <div class="workout-edit-delete">
                        
                                    {% if session.member|lower == workout_plan.created_by|lower or session.member|lower == "admin"|lower %}
                                        <a href="{{ url_for('edit_workout', workout_plan_id=workout_plan._id) }}" class="edit-workout">Edit</a>
                                        <a href="{{ url_for('delete_workout', workout_plan_id=workout_plan._id) }}" class="delete-workout">Delete</a>                                        
                                    {% endif %}

                                </div>
                        
                            </div> 

                        </div>

                    </div>

                </div>

            {% endfor %}
            {% endfor %}
            {% endfor %}

        </div>

    </div>

{% endblock %}

