{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-12 home-text">

                <h1>Welcome to BP Fitness Plans!</h1>

                <h5>BP Fitness plans is a fitness based community where members can share their workout plans with each other.
                    We have specific workout plans for all muscle groups and fitness experience, so even if you are beginning 
                    your fitness journey, we will have a plan for you.
                </h5>

                <h4>Find Your Workout Plan Today!</h4>

                <a href="{{ url_for('find_workouts') }}" class="home-find-workout">Find A Workout Plan</a>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row row-color">

            {% for workout_category in workout_categories %}
            {% for workout_difficulty in workout_difficulties %}
            {% for workout_plan in workout_plans %}

                <div class="col-12 col-md-6 col-lg-4">

                    <div class="workout-card">

                        <div class="individual-card" id="individual-card">

                            <div class="card-image-section">

                                {% if workout_plan.workout_category == 'Chest' %}
                                    <div class="chest-image-section">
                                        <h5>{{ workout_plan.workout_name }}</h5>
                                    </div>
                                {% elif workout_plan.workout_category == 'Back' %}
                                    <div class="back-image-section">
                                        <h5>{{ workout_plan.workout_name }}</h5>
                                    </div>
                                {% elif workout_plan.workout_category == 'Arms' %}
                                    <div class="arms-image-section">
                                        <h5>{{ workout_plan.workout_name }}</h5>
                                    </div>
                                {% elif workout_plan.workout_category == 'Legs' %}
                                    <div class="legs-image-section">
                                        <h5>{{ workout_plan.workout_name }}</h5>
                                    </div>
                                {% else %}
                                <div class="shoulders-image-section">
                                    <h5>{{ workout_plan.workout_name }}</h5>
                                </div>
                                {% endif %}

                            </div>

                            <div class="card-workout-stats">

                                <p>Muscle Group: {{ workout_plan.workout_category }}</p>

                                <hr>

                                <p>Workout Difficulty: {{ workout_plan.workout_difficulty }}</p>

                                <hr>

                                <p>Total Exercise Amount: {{ workout_plan.total_exercise_amount }}</p>

                                <hr>

                                <p>Total Workout Time: {{ workout_plan.total_workout_time }}</p>

                                <hr>

                                <p>Created By: {{ workout_plan.created_by }}</p>

                            </div> 

                            <div class="workout-options" id="workout-options">

                                <div class="workout-edit-delete">
                        
                                    {% if session.member|lower == workout_plan.created_by|lower or session.member|lower == "admin"|lower %}
                                        <a href="{{ url_for('edit_workout', workout_plan_id=workout_plan._id) }}" class="edit-workout">Edit</a>
                                        <a href="{{ url_for('delete_workout', workout_plan_id=workout_plan._id) }}" class="delete-workout">Delete</a>                                        
                                    {% endif %}

                                </div>
                        
                            </div> 

                        </div>

                    </div>

                </div>

            {% endfor %}
            {% endfor %}
            {% endfor %}

        </div>

    </div>

    {% if session.member %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="create-home">

                    <h1>Create Your Own Workout Plan</h1>

                    <h5>Have you got a workout plan in mind?</h5>
                    
                    <h5>Create your very own workout plan and share it with the rest of the community</h5>

                    <a href="{{ url_for('create_workout') }}">Create A Workout Plan</a>

                </div>

            </div>

        </div>

    </div>

    {% else %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-12 col-md-6">

                <div class="sign-up-home">

                    <h3>Don't have an account with us?</h3>

                    <h5>Sign Up And Become A Member Today!</h5>

                    <a href="{{ url_for('sign_up') }}"><button>Sign Up</button></a>

                </div>

            </div>

            <div class="col-12 col-md-6">

                <div class="log-in-home">

                    <h3>Already have an account with us?</h3>

                    <h5>Log Into Your Account!</h5>

                    <a href="{{ url_for('log_in') }}"><button>Log In</button></a>

                </div>

            </div>

        </div>

    </div>

    {% endif %}

{% endblock %}