{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-12 col-md-6">

                <div class="sign-up-home">

                    <h3>Don't have an account with us?</h3>

                    <h5>Sign Up And Become A Member Today!</h5>

                    <a href="{{ url_for('sign_up') }}"><button>Sign Up</button></a>

                </div>

            </div>

            <div class="col-12 col-md-6">

                <div class="log-in-home">

                    <h3>Already have an account with us?</h3>

                    <h5>Log Into Your Account!</h5>

                    <a href="{{ url_for('log_in') }}"><button>Log In</button></a>

                </div>

            </div>

        </div>

    </div>

{% endblock %}