{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <form class="log-in-section" method="POST" action="{{ url_for('log_in') }}">

                    <div class="log-in-card">

                        <h1>Log In</h1>

                            <div class="username">

                                <i class="fas fa-envelope"></i>

                                <label for="username"></label>
                                <input id="username" name="username" type="text" placeholder="username" required>

                            </div>

                            <div class="password">

                                <i class="fas fa-lock"></i>

                                <label for="password"></label>
                                <input id="password" name="password" type="password" placeholder="password" required>

                            </div>

                            <div class="log-in-button">

                                <button type="submit" name="submit">
                                    Log In
                                </button>

                            </div>

                            <div class="no-account">

                                <p>Don't have an Account? <span><a href="{{ url_for('sign_up') }}">Sign Up</a></span></p>

                            </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

{% endblock %}