{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="my-workout-text">

                    <h1>{{ username }}'s Workout Plans</h1>

                    <h5>Here are all of the workout plans you have created!</h5>

                    <h6>If you currently don't have any workout plans, you can create your own workout plan to share with the BP Workout Plans Community.</h6>

                    <a href="{{ url_for('create_workout') }}">Create A Workout Plan</a>

                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row row-color">

            {% for workout_plan in workout_plans %}

                <div class="col-12 col-md-6 col-lg-4">

                    <div class="workout-card">

                        <div class="individual-card" id="individual-card">

                            <a class="card-link" href="{{ url_for('workout_plan', workout_plan_id=workout_plan._id) }}"><div class="card-image-section">

                                {% if workout_plan.workout_category == 'Chest' %}
                                    <div class="chest-image-section">
                                        <h5>{{ workout_plan.workout_name }}</h5>
                                    </div>
                                {% elif workout_plan.workout_category == 'Back' %}
                                    <div class="back-image-section">
                                        <h5>{{ workout_plan.workout_name }}</h5>
                                    </div>
                                {% elif workout_plan.workout_category == 'Arms' %}
                                    <div class="arms-image-section">
                                        <h5>{{ workout_plan.workout_name }}</h5>
                                    </div>
                                {% elif workout_plan.workout_category == 'Legs' %}
                                    <div class="legs-image-section">
                                        <h5>{{ workout_plan.workout_name }}</h5>
                                    </div>
                                {% else %}
                                <div class="shoulders-image-section">
                                    <h5>{{ workout_plan.workout_name }}</h5>
                                </div>
                                {% endif %}

                            </div></a>

                            <div class="card-workout-stats">

                                <p>Muscle Group: {{ workout_plan.workout_category }}</p>

                                <hr>

                                <p>Workout Difficulty: {{ workout_plan.workout_difficulty }}</p>

                                <hr>

                                <p>Total Exercise Amount: 6</p>

                                <hr>

                                <p>Total Workout Time: {{ workout_plan.total_workout_time }}</p>

                                <hr>

                                <p>Created By: {{ workout_plan.created_by }}</p>

                            </div>
                            
                            <div class="view-workout">

                                <a href="{{ url_for('workout_plan', workout_plan_id=workout_plan._id) }}">View Workout</a>

                            </div>

                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>

    </div>

    <div class="container-fluid">

        <div class="row row-color">

            <div class="col-12">

                {{ pagination.links }}

            </div>

        </div>

    </div>

{% endblock %}