{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="row">


            <div class="container-fluid">

                <div class="profile-heading col-12">

                    <h1>{{ username }}'s Profile</h1>

                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">
                
                <div class="profile-options">

                    <h4>Edit Profile</h4>

                    <h4>Delete Profile</h4>

                    <h4>Your Liked Workout Plans</h4>

                    <h4>Your Workout Plans</h4>

                    <h4>Log Out</h4>

                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row col-12">

            <div class="col-12 col-md-6">

                <div class="recent-liked-plan">

                    <h4>Your Most Recent Liked Workout Plan</h4>

                </div>

            </div>

            <div class="col-12 col-md-6">

                <div class="recent-workout-plan">

                    <h4>Your Most Recent Created Workout Plan</h4>


                </div>

            </div>

        </div>

    </div>

{% endblock %}