{% extends "base.html" %}
{% block content %}

    <div class="row">

        <div class="container-fluid">

            <div class="profile-section">

                <div class="row">

                    <div class="container-fluid">

                        <div class="profile-heading col-12">

                            <h3>{{ username }}'s Profile</h3>

                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="container-fluid">
                    
                        <div class="profile-options col-12">

                            <h4>Edit Profile</h4>

                            <h4>Delete Profile</h4>

                            <h4>Your Liked Workout Plans</h4>

                            <h4>Your Workout Plans</h4>

                            <h4>Log Out</h4>

                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="container-fluid">

                        <div class="profile-recent">

                            <div class="recent-liked-plan col-6">

                                <h4>Your Most Recent Liked Workout Plan</h4>



                            </div>

                            <div class="recent-workout-plan col-6">

                                <h4>Your Most Recent Created Workout Plan</h4>



                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}