{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="profile-heading">

                    <h1>Welcome Back {{ username }}!</h1>

                    <h5>Here is your member profile where you can view your workout plans and make changes to your account</h5>

                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row">

            <h3 class="profile-h2">Find or Create A Workout Plan</h3>

            <div class="profile-section">

                <div class="col-md-6 col-12">
                
                    <div class="liked-plan-options">

                        <h4>Find A Workout Plan</h4>

                        <h6>Find the perfect workout plan for you whether you are a beginner, intermediate or advanced!</h6>

                        <a href="{{ url_for('find_workouts') }}">Find A Workout Plan</a>

                    </div>

                </div>

                <div class="col-md-6 col-12">

                    <div class="profile-options">

                        <h4>Create A Workout Plan</h4>

                        <h6>Create your very own workout plan and share it with the rest of the community</h6>

                        <a href="{{ url_for('create_workout') }}">Create A Workout Plan</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row">

            <h3 class="profile-h2">Your Liked & Created Workout Plans</h3>

            <div class="profile-section">

                <div class="col-md-6 col-12">
                
                    <div class="liked-plan-options">

                        <h4>Your Liked Workout Plans</h4>

                        <h6>View all of the workout plans you have liked that was created by other members</h6>

                        <a href="#">View Your Liked Workout Plans</a>

                    </div>

                </div>

                <div class="col-md-6 col-12">

                    <div class="profile-options">

                        <h4>Your Workout Plans</h4>

                        <h6>View all of your workout plans that you created so far</h6>

                        <a href="#">View Your Workout Plans</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row">

            <h3 class="profile-h2">Account Details</h3>

            <div class="profile-section">

                <div class="col-md-6 col-12">

                    <div class="edit-account">

                        <h4>Edit Your Account</h4>

                        <h6>Made a mistake or want a change? Edit your account details</h6>

                        <a href="{{ url_for('edit_account') }}">Edit Account</a>

                    </div>

                </div>

                <div class="col-md-6 col-12">

                    <div class="delete-account">

                        <h4>Delete Your Account</h4>

                        <h6>No longer want to be a member? Delete your account with us</h6>

                        <a href="#">Delete Account</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}