{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="row row-color">

            <div class="col-12">

                <h3 class="sign-up-header">Sign Up Today and Become A Member To Start <br>creating your very own Workout Plans!</h3>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <form class="sign-up-section" method="POST" action="{{ url_for('sign_up') }}">

                    <div class="sign-up-card">

                        <h1>Sign Up</h1>

                            <div class="username">

                                <i class="fas fa-user"></i>

                                <label for="username"></label>
                                <input id="username" name="username" type="text" minlength="3" maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" placeholder="Username" required>

                            </div>

                            <div class="email">

                                <i class="fas fa-envelope"></i>

                                <label for="email"></label>
                                <input id="email" name="email" type="email" placeholder="Email Address" required>

                            </div>

                            <div class="password">

                                <i class="fas fa-lock"></i>

                                <label for="password"></label>
                                <input id="password" name="password" type="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9$@$!%*?&.]{5,15}$" 
                                    placeholder="Password" onkeyup="checkPasswords();" required>

                            </div>

                            <div class="confirm-password">

                                <i class="fas fa-shield-alt"></i>

                                <label for="confirm_password"></label>
                                <input id="confirm_password" name="confirm_password" type="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9$@$!%*?&.]{5,15}$" 
                                    placeholder="Confirm Password" onkeyup="checkPasswords();" required>

                            </div>

                            <div id="passwords-match"></div>

                            <div class="sign-up-button">

                                <button type="submit" name="submit" id="submit" disabled>
                                    Sign Up
                                </button>

                            </div>

                            <div class="account-already">

                                <p>Already have an Account? <span><a href="{{ url_for('log_in') }}">Log In</a></span></p>

                            </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

    <!-- Sign Up & Flash js files -->
    <script src="{{ url_for('static', filename='js/sign_up.js') }}"></script>

{% endblock %}