{% extends "base.html" %}
{% block content %}

    <div class="row">

        <div class="container-fluid">

            <div class="sign-up-section">

                <div class="sign-up-card">

                    <h1>Sign Up</h1>

                        <div class="username">

                            <div class="username-icon">
                                <i class="fas fa-user"></i>
                            </div>

                            <label for="username"></label>
                            <input id="username" name="username" type="text" minlength="5" maxlength="15" placeholder="username" required>

                        </div>

                        <div class="email">

                            <i class="fas fa-envelope"></i>

                            <label for="email"></label>
                            <input id="email" name="email" type="email" placeholder="email address" required>

                        </div>

                        <div class="password">

                            <i class="fas fa-lock"></i>

                            <label for="username"></label>
                            <input id="username" name="username" type="text" placeholder="password" required>

                        </div>

                        <div class="confirm-password">

                            <i class="fas fa-shield-alt"></i>

                            <label for="username"></label>
                            <input id="username" name="username" type="text" placeholder="confirm password" required>

                        </div>

                        <div class="sign-up-button">

                            <button type="submit">
                                Sign Up
                            </button>

                        </div>

                        <div class="account-already">

                            <p>Already have an Account? <span><a href="{{ url_for('log_in') }}">Log In</a></span></p>

                        </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}