{% extends "base.html" %}
{% block content %}

    <div class="row">

        <div class="container-fluid">

            <form class="sign-up-section col-12" method="POST" action="{{ url_for('sign_up') }}">

                <div class="sign-up-card">

                    <h1>Sign Up</h1>

                        <div class="username">

                            <i class="fas fa-user"></i>

                            <label for="username"></label>
                            <input id="username" name="username" type="text" minlength="3" maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" placeholder="username" required>

                        </div>

                        <div class="email">

                            <i class="fas fa-envelope"></i>

                            <label for="email"></label>
                            <input id="email" name="email" type="email" placeholder="email address" required>

                        </div>

                        <div class="password">

                            <i class="fas fa-lock"></i>

                            <label for="password"></label>
                            <input id="password" name="password" type="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9$@$!%*?&.]{5,15}$" 
                                placeholder="password" onkeyup="checkPasswords();" required>

                        </div>

                        <div class="confirm-password">

                            <i class="fas fa-shield-alt"></i>

                            <label for="confirm_password"></label>
                            <input id="confirm_password" name="confirm_password" type="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9$@$!%*?&.]{5,15}$" 
                                placeholder="confirm password" onkeyup="checkPasswords();" required>

                        </div>

                        <div id="passwords-match"></div>

                        <div class="sign-up-button">

                            <button type="submit" name="submit" id="submit" disabled>
                                Sign Up
                            </button>

                        </div>

                        <div class="account-already">

                            <p>Already have an Account? <span><a href="{{ url_for('log_in') }}">Log In</a></span></p>

                        </div>

                </div>

            </form>

        </div>

    </div>

{% endblock %}