{% extends "base.html" %}
{% block content %}

    <div class="delete-workout-modal" id="delete-workout-modal">

        <div class="delete-workout-modal-content">

            <h3>Are you sure you would like to delete this workout plan?</h3>

            <div class="delete-options">

                <a href="{{ url_for('delete_workout', workout_plan_id=workout_plan._id) }}" class="yes-delete-workout-plan">Yes, Delete This Workout Plan</a>

                <a href="{{ url_for('workout_plan', workout_plan_id=workout_plan._id) }}" class="no-delete-workout-plan">No, Go Back</a>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row row-color">

            <div class="col-12">

                <div class="workout-image">

                    {% if workout_plan.workout_category == 'Chest' %}
                        <div class="chest-workout-image">
                            <h3>{{ workout_plan.workout_name }}</h3>
                            <h3>Created By: {{ workout_plan.created_by }}</h3>
                        </div>
                    {% elif workout_plan.workout_category == 'Back' %}
                        <div class="back-workout-image">
                            <h3>{{ workout_plan.workout_name }}</h3>
                            <h3>Created By: {{ workout_plan.created_by }}</h3>
                        </div>
                    {% elif workout_plan.workout_category == 'Arms' %}
                        <div class="arms-workout-image">
                            <h3>{{ workout_plan.workout_name }}</h3>
                            <h3>Created By: {{ workout_plan.created_by }}</h3>
                        </div>
                    {% elif workout_plan.workout_category == 'Legs' %}
                        <div class="legs-workout-image">
                            <h3>{{ workout_plan.workout_name }}</h3>
                            <h3>Created By: {{ workout_plan.created_by }}</h3>
                        </div>
                    {% else %}
                    <div class="shoulders-workout-image">
                        <h3>{{ workout_plan.workout_name }}</h3>
                        <h3>Created By: {{ workout_plan.created_by }}</h3>
                    </div>
                    {% endif %}

                </div>

            </div>

        </div>
    
    </div>

    <div class="container-fluid">

        <div class="row row-color">

            <div class="col-12">

                <div class="plan-options">

                    <div class="workout-display">

                        <h6>Muscle Group:</h6>
                        <p>{{ workout_plan.workout_category }}</p>

                    </div>

                    <div class="workout-display">

                        <h6>Workout Difficulty:</h6>
                        <p>{{ workout_plan.workout_difficulty }}</p>

                    </div>

                    <div class="workout-display">

                        <h6>Total Exercise Amount:</h6>
                        <p>6</p>

                    </div>

                    <div class="workout-display">
            
                        <h6>Total Workout Time:</h6>
                        <p value="{{ workout_plan.total_workout_time }}">{{ workout_plan.total_workout_time }} Mins</p>

                    </div>

                </div>

            </div>

        </div>

    </div>                  

    <div class="container-fluid">

        <div class="row row-color">

            <div class="col-12">

                <div class="plan-description">

                    <h3>Workout Description:</h3>
                    <p> {{ workout_plan.workout_description }}</p>
            
                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row row-color">

            <div class="col-12">

                <div class="workout-name">

                    <h1>{{ workout_plan.workout_name }}</h1>

                </div>

            </div>

        </div>

    </div>

    <div class="accordion" id="accordionpanelsStayOpenExample">

        <div class="container-fluid">

            <div class="row row-color">

                <div class="col-12 workout-plan-styling">

                    <div class="accordion-item">

                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">

                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelStayOpen-collapseOne">
                                Exercise 1: {{ workout_plan.exercise_name_1 }}
                            </button>

                        </h2>

                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">

                            <div class="accordion-body">

                                <div class="container-fluid">
    
                                    <div class="row">
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <label>Number Of Sets:</label>
                                                <p>{{ workout_plan.number_of_sets_1 }}</p>
    
                                            </div>
    
                                        </div>
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <label>Number Of Reps:</label>
                                                <p>{{ workout_plan.number_of_sets_1 }}</p>
    
                                            </div>
    
                                        </div>
    
                                    </div>
    
                                </div>
    
                                <div class="container-fluid">
    
                                    <div class="row">
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <div>
    
                                                    <label>Rest Time:</label>
                                                    <p>{{ workout_plan.rest_time_1 }} Secs</p>
    
                                                </div>
    
                                            </div>
    
                                        </div>
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <label>Weight Used:</label>
                                                <p>{{ workout_plan.weight_used_1 }}kg</p>
    
                                            </div>
    
                                        </div>
    
                                    </div>
    
                                </div>
                            
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="row row-color">

                <div class="col-12 workout-plan-styling">

                    <div class="accordion-item">

                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">

                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Exercise 2: {{ workout_plan.exercise_name_2 }}
                            </button>

                        </h2>

                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                            <div class="accordion-body">

                                <div class="container-fluid">
    
                                    <div class="row">
    
                                        <div class="col-6">
    
                                            <div class="exercise-input">
    
                                                <label>Number Of Sets:</label>
                                                <p>{{ workout_plan.number_of_sets_2 }}</p>
    
                                            </div>
    
                                        </div>
    
                                        <div class="col-6">
    
                                            <div class="exercise-input">
    
                                                <label>Number Of Reps:</label>
                                                <p>{{ workout_plan.number_of_sets_2 }}</p>
    
                                            </div>
    
                                        </div>
    
                                    </div>
    
                                </div>
    
                                <div class="container-fluid">
    
                                    <div class="row">
    
                                        <div class="col-6">
    
                                            <div class="exercise-input">
    
                                                <div>
    
                                                    <label>Rest Time:</label>
                                                    <p>{{ workout_plan.rest_time_2 }} Secs</p>
    
                                                </div>
    
                                            </div>
    
                                        </div>
    
                                        <div class="div col-6">
    
                                            <div class="exercise-input">
    
                                                <label>Weight Used:</label>
                                                <p>{{ workout_plan.weight_used_2 }}kg</p>
    
                                            </div>
    
                                        </div>
    
                                    </div>
    
                                </div>
                            
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="container-fluid">
 
            <div class="row row-color">

                <div class="col-12 workout-plan-styling">

                    <div class="accordion-item">

                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">

                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Exercise 3: {{ workout_plan.exercise_name_3 }}
                            </button>
                        </h2>

                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                            <div class="accordion-body">
    
                                <div class="container-fluid">
    
                                    <div class="row">
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <label>Number Of Sets:</label>
                                                <p>{{ workout_plan.number_of_sets_3 }}</p>
    
                                            </div>
    
                                        </div>
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <label>Number Of Reps:</label>
                                                <p>{{ workout_plan.number_of_sets_3 }}</p>
    
                                            </div>
    
                                        </div>
    
                                    </div>
    
                                </div>
    
                                <div class="container-fluid">
    
                                    <div class="row">
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <div>
    
                                                    <label>Rest Time:</label>
                                                    <p>{{ workout_plan.rest_time_3 }} Secs</p>
    
                                                </div>
    
                                            </div>
    
                                        </div>
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <label>Weight Used:</label>
                                                <p>{{ workout_plan.weight_used_3 }}kg</p>
    
                                            </div>
    
                                        </div>
    
                                    </div>
    
                                </div>

                            </div>
                    
                        </div>

                    </div>

                </div>

            </div>

            <div class="row row-color">

                <div class="col-12 workout-plan-styling">

                    <div class="accordion-item">

                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">

                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Exercise 4: {{ workout_plan.exercise_name_4 }}
                            </button>

                        </h2>

                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">

                            <div class="accordion-body">

                                <div class="container-fluid">
    
                                    <div class="row">
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <label>Number Of Sets:</label>
                                                <p>{{ workout_plan.number_of_sets_4 }}</p>
    
                                            </div>
    
                                        </div>
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <label>Number Of Reps:</label>
                                                <p>{{ workout_plan.number_of_sets_4 }}</p>
    
                                            </div>
    
                                        </div>
    
                                    </div>
    
                                </div>
    
                                <div class="container-fluid">
    
                                    <div class="row">
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <div>
    
                                                    <label>Rest Time:</label>
                                                    <p>{{ workout_plan.rest_time_4 }} Secs</p>
    
                                                </div>
    
                                            </div>
    
                                        </div>
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <label>Weight Used:</label>
                                                <p>{{ workout_plan.weight_used_4 }}kg</p>
    
                                            </div>
    
                                        </div>
    
                                    </div>
    
                                </div>
                            
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="container-fluid">

            <div class="row row-color">

                <div class="col-12 workout-plan-styling">

                    <div class="accordion-item">

                        <h2 class="accordion-header" id="panelsStayOpen-headingFive">

                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Exercise 5: {{ workout_plan.exercise_name_5 }}
                            </button>

                        </h2>

                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">

                            <div class="accordion-body">

                                <div class="container-fluid">
    
                                    <div class="row">
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <label>Number Of Sets:</label>
                                                <p>{{ workout_plan.number_of_sets_5 }}</p>
    
                                            </div>
    
                                        </div>
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <label>Number Of Reps:</label>
                                                <p>{{ workout_plan.number_of_sets_5 }}</p>
    
                                            </div>
    
                                        </div>
    
                                    </div>
    
                                </div>
    
                                <div class="container-fluid">
    
                                    <div class="row">
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <div>
    
                                                    <label>Rest Time:</label>
                                                    <p>{{ workout_plan.rest_time_5 }} Secs</p>
    
                                                </div>
    
                                            </div>
    
                                        </div>
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <label>Weight Used:</label>
                                                <p>{{ workout_plan.weight_used_5 }}kg</p>
    
                                            </div>
    
                                        </div>
    
                                    </div>
    
                                </div>
                            
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="row row-color">

                <div class="col-12 workout-plan-styling">

                    <div class="accordion-item">

                        <h2 class="accordion-header" id="panelsStayOpen-headingSix">

                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Exercise 6: {{ workout_plan.exercise_name_6 }}
                            </button>
                        </h2>

                        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                        
                            <div class="accordion-body">
    
                                <div class="container-fluid">
    
                                    <div class="row">
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <label>Number Of Sets:</label>
                                                <p>{{ workout_plan.number_of_sets_6 }}</p>
    
                                            </div>
    
                                        </div>
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <label>Number Of Reps:</label>
                                                <p>{{ workout_plan.number_of_sets_6 }}</p>
    
                                            </div>
    
                                        </div>
    
                                    </div>
    
                                </div>
    
                                <div class="container-fluid">
    
                                    <div class="row">
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <div>
    
                                                    <label>Rest Time:</label>                                             
                                                    <p>{{ workout_plan.rest_time_6 }} Secs</p>
    
                                                </div>
    
                                            </div>
    
                                        </div>
    
                                        <div class="col-md-6 col-12">
    
                                            <div class="exercise-input">
    
                                                <label>Weight Used:</label>
                                                <p>{{ workout_plan.weight_used_6 }}kg</p>
    
                                            </div>
    
                                        </div>
    
                                    </div>
    
                                </div>

                            </div>
                    
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row row-color">

            <div class="col-12 col-md-6">

                <div class="workout-options-styling">

                    <a class="go-back" href="{{ url_for('find_workouts') }}"><i class="fas fa-arrow-alt-circle-left"></i> Go Back</a>

                </div>

            </div>

            {% if session.member %}

                <div class="col-12 col-md-6">

                    <div class="workout-options-styling">

                        <a class="workout-plan-options" href="{{ url_for('log_in') }}"><i class="fas fa-plus-circle"></i> Create A Workout Plan</a>

                    </div>

                </div> 

            {% else %}

                <div class="col-12 col-md-6">

                    <div class="workout-options-styling">

                        <a class="workout-plan-options" href="{{ url_for('log_in') }}"><i class="fas fa-user-edit"></i> Log In To Create A Workout</a>

                    </div>

                </div> 

            {% endif %}

        </div>

        <div class="row row-color">

            <div class="col-12 col-md-6">

                <div class="workout-options-styling">
            
                    {% if session.member|lower == workout_plan.created_by|lower or session.member|lower == "admin"|lower %}
                        <a class="workout-edit" href="{{ url_for('edit_workout', workout_plan_id=workout_plan._id) }}"><i class="fas fa-edit"></i> Edit Workout Plan</a>                                     
                    {% endif %}

                </div>

            </div>

            <div class="col-12 col-md-6">

                <div class="workout-options-styling">


                    {% if session.member|lower == workout_plan.created_by|lower or session.member|lower == "admin"|lower %}
                        <a class="workout-delete" href="#" onclick="deleteWorkoutPlan()"><i class="fas fa-trash-alt"></i> Delete Workout Plan</a>                                        
                    {% endif %}

                </div>

            </div>
    
        </div> 

    </div>

    <!-- Workout Plan js file -->
    <script src="{{ url_for('static', filename='js/workout_plan.js') }}"></script>

{% endblock %}
